<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <add key="StatusCake.Client.Username" value="zingz0r"/>
    <add key="StatusCake.Client.AccessKey" value="p5hK_IEzykTanN3cMLWOHFrbvqCAgm"/>
  </appSettings>
</configuration>